<extend name="Layout/Back"/>

<block name="content">

    <div id="content">
        <div class="page-header">
            <div class="container-fluid">
                <div class="pull-right">
                    <a href="{:U('add')}" data-toggle="tooltip" title="新增" class="btn btn-primary"> <i
                            class="fa fa-plus"></i>
                    </a>

                    <button type="button" data-toggle="tooltip" title="删除" class="btn btn-danger"
                            onclick="confirm('确认？') ? $('#form-brand').submit() : false;"><i class="fa fa-trash-o"></i>
                    </button>

                </div>
                <h1>分类管理</h1>
                <ul class="breadcrumb">
                    <li>
                        <a href="{:U('Index/index')}">首页</a>
                    </li>
                    <li>
                        <a href="javascript:;">分类列表</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container-fluid">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-list"></i>
                        分类列表
                    </h3>
                </div>
                <div class="panel-body">
                    <form action="{:U('lists')}" method="GET">
                        <div class="well">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="control-label" for="input-title">搜索关键字</label>
                                        <input type="text" name="filter_category_name"
                                               value="{$filter['filter_category_name']}" placeholder="搜索内容"
                                               id="input-title" class="form-control"/>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <button type="submit" id="button-filter" class="btn btn-primary pull-right">
                                        <i class="fa fa-search"></i>
                                        筛选
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>

                    <form action="{:U('multi')}" method="post" enctype="multipart/form-data" id="form-brand">
                        <input type="hidden" id="input-operate_type" name="operate_type" value="">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <td style="width: 1px;" class="text-center">
                                        <input type="checkbox"
                                               onclick="$('input[name*=\'selected\']').prop('checked', this.checked);"/>
                                    </td>
                                    <td class="text-center">序号</td>
                                    <td class="text-center">分类名称</td>
                                    <td class="text-center">所属分类</td>
                                    <td class="text-center">分类小图</td>
                                    <td class="text-center">是否导航</td>
                                    <td class="text-center">SEO标题</td>
                                    <td class="text-right">管理</td>
                                </tr>
                                </thead>
                                <tbody>
                                <volist name="rows" id="row">
                                    <tr>
                                        <td class="text-center">
                                            <input type="checkbox" name="selected[]" value="{$row['category_id']}"/>
                                        </td>
                                        <td class="text-center">{$i}</td>

                                        <td class="text-left">{:str_repeat('-', $row['deep']*8)}{$row['category_name']}</td>

                                        <td class="text-center">{$row['category_parent_id']}</td>

                                        <td class="text-center">{$row['category_image_thumb']}</td>

                                        <td class="text-center">{$row['category_is_nav']}</td>

                                        <td class="text-center">{$row['category_meta_name']}</td>



                                        <td class="text-right">
                                            <a href="{:U('edit', ['category_id'=>
                                                    $row['category_id']])}" data-toggle="tooltip" title="编辑"
                                               class="btn btn-primary">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </volist>
                                </tbody>
                            </table>
                        </div>
                    </form>
                    <div class="row">{$page_html}</div>
                </div>
            </div>
        </div>
    </div>
</block>