<extend name="Common/common"/>
<block name="content">
    <div class="container">
        <div class="row">
            <div id="content" class="col-sm-12">
                <div class="content_top">
                    <div id="slideshow0" class="owl-carousel slideshow">
                        <div class="item">
                            <a href="">
                                <img src="__PUBLIC__/Home/image/cache/catalog/gd/banner/glasses-banner2-1140x500.jpg"
                                     alt="glasses-banner2" class="img-responsive"/>
                            </a>
                        </div>
                        <div class="item">
                            <a href="">
                                <img src="__PUBLIC__/Home/image/cache/catalog/gd/banner/glasses-banner1-1140x500.jpg"
                                     alt="glasses-banner1" class="img-responsive"/>
                            </a>
                        </div>
                    </div>
                    <script type="text/javascript"><!--
                    $(document).ready(function () {
                        $('#slideshow0').owlCarousel({
                            items: 1, //显示数量
                            loop: true, //循环滚动
                            autoplay: true, //自动播放
                            autoplayTimeout: 3000, //自动切换时间（毫秒）
                            autoplayHoverPause: true, //鼠标移动到图片上面时，是否暂停自动播放
                            autoplaySpeed: 300, //自动播放图片切换动画时长
                            navSpeed: 400, //左右切换按钮图片切换动画时长
                            dotsSpeed: 300, //点击图片下方黑点图片切换动画时长
                            nav: true, //是否显示左右切换按钮
                            navText: ['<i class="fa fa-angle-left"></i>', '<i class="fa fa-angle-right"></i>'], //左右切换按钮图标
                            dots: true, //是否显示图片下方黑点
                        });
                    });
                    --></script>
                    <h2 class="widget-title">
                        <span>推荐商品</span>
                    </h2>
                    <div class="row">
                        <volist name="promote_goods_list" id="row">
                            <div class="product-layout product-grid col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                <div class="product-wrapper">
                                    <div class="product-image">
                                        <a href="{:U('/goods/'.$row['goods_id'])}">
                                            <img src="__PUBLIC__/Thumb/{$row['goods_image_thumb']}" alt="{$row['goods_name']}" title="{$row['goods_name']}" class="img-responsive" style="max-height: 240px"/>
                                        </a>
                                    </div>
                                    <div class="product-info">
                                        <div class="product-name">
                                            <a href="{:U('/goods/'.$row['goods_id'])}">{$row['goods_name']}</a>
                                        </div>
                                        <div class="product-description">
                                            <p>..</p>
                                        </div>
                                        <div class="product-rating">
                                            <if condition="mt_rand(1,2) eq 1">
                                <span class="fa fa-stack">
                                    <i class="fa fa-star fa-stack-2x"></i>
                                </span>
                                            </if>
                                            <if condition="mt_rand(1,2) eq 1">
                                <span class="fa fa-stack">
                                    <i class="fa fa-star fa-stack-2x"></i>
                                </span>
                                            </if>
                                            <if condition="mt_rand(1,2) eq 1">
                                <span class="fa fa-stack">
                                    <i class="fa fa-star fa-stack-2x"></i>
                                </span>
                                            </if>
                                            <if condition="mt_rand(1,2) eq 1">
                                <span class="fa fa-stack">
                                    <i class="fa fa-star fa-stack-2x"></i>
                                </span>
                                            </if>
                                            <if condition="mt_rand(1,2) eq 1">
                                <span class="fa fa-stack">
                                    <i class="fa fa-star fa-stack-2x"></i>
                                </span>
                                            </if>
                                        </div>
                                        <div class="product-price">
                                            <span class="price-new">￥{$row['goods_price']}</span>
                                            <span class="price-old">￥{$row['goods_scj']}</span>
                                        </div>
                                        <div class="product-action">
                                            <button type="button" class="add-to-cart" onclick="cart.add('56');">
                                                <i class="fa fa-shopping-cart"></i>
                                                <span>加入购物车</span>
                                            </button>
                                            <div class="ps-add-buyincang" id="btn-visible">
                                                <button type="button" class="wishlist" onclick="wishlist.add('56');">
                                                    <i class="fa fa-heart-o"></i>
                                                    <span>收藏</span>
                                                </button>
                                                <button type="button" class="compare" onclick="compare.add('56');">
                                                    <i class="fa fa-bars"></i>
                                                    <span>对比</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </volist>
                    </div>
                    <ul id="banner0" class="banners">
                        <li class="item">
                            <a href="">
                                <img src="__PUBLIC__/Home/image/cache/catalog/gd/banner/hengfu1-1140x382.jpg"
                                     alt="hengfu-xia" class="img-responsive"/>
                            </a>
                        </li>
                    </ul>
                    <h2 class="widget-title">
                        <span>最新商品</span>
                    </h2>
                    <div class="row">
                        <div class="product-layout product-grid col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="product-wrapper">
                                <div class="product-image">
                                    <a href="">
                                        <img src="__PUBLIC__/Home/image/cache/catalog/gd/product/yanjing5-300x340.jpg"
                                             alt="普利邦 欧美时尚大框优雅墨镜女款复古个性防强光太阳镜简约眼镜" title="普利邦 欧美时尚大框优雅墨镜女款复古个性防强光太阳镜简约眼镜"
                                             class="img-responsive"/>
                                    </a>
                                </div>
                                <div class="product-info">
                                    <div class="product-name">
                                        <a href="">普利邦 欧美时尚大框优雅墨镜女款复古个性防强光太阳镜简约眼镜</a>
                                    </div>
                                    <div class="product-description">
                                        <p>..</p>
                                    </div>
                                    <div class="product-rating">
                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                                    </div>
                                    <div class="product-price">
                                        <span class="price-new">￥2,999.00</span>
                                        <span class="price-old">￥3,799.00</span>
                                    </div>
                                    <div class="product-action">
                                        <button type="button" class="add-to-cart" onclick="cart.add('80');">
                                            <i class="fa fa-shopping-cart"></i>
                                            <span>加入购物车</span>
                                        </button>
                                        <div class="ps-add-buyincang" id="btn-visible">
                                            <button type="button" class="wishlist" onclick="wishlist.add('80');">
                                                <i class="fa fa-heart-o"></i>
                                                <span>收藏</span>
                                            </button>
                                            <button type="button" class="compare" onclick="compare.add('80');">
                                                <i class="fa fa-bars"></i>
                                                <span>对比</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-layout product-grid col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="product-wrapper">
                                <div class="product-image">
                                    <a href="">
                                        <img src="__PUBLIC__/Home/image/cache/catalog/gd/product/yanjing6-300x340.jpg"
                                             alt="普利邦欧美风时尚太阳镜男个性炫酷墨镜男潮驾驶镜男防眩光司机镜" title="普利邦欧美风时尚太阳镜男个性炫酷墨镜男潮驾驶镜男防眩光司机镜"
                                             class="img-responsive"/>
                                    </a>
                                </div>
                                <div class="product-info">
                                    <div class="product-name">
                                        <a href="">普利邦欧美风时尚太阳镜男个性炫酷墨镜男潮驾驶镜男防眩光司机镜</a>
                                    </div>
                                    <div class="product-description">
                                        <p>..</p>
                                    </div>
                                    <div class="product-rating">
                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                                    </div>
                                    <div class="product-price">
                                        <span class="price-new">￥8,966.00</span>
                                        <span class="price-old">￥5,399.00</span>
                                    </div>
                                    <div class="product-action">
                                        <button type="button" class="add-to-cart" onclick="cart.add('79');">
                                            <i class="fa fa-shopping-cart"></i>
                                            <span>加入购物车</span>
                                        </button>
                                        <div class="ps-add-buyincang" id="btn-visible">
                                            <button type="button" class="wishlist" onclick="wishlist.add('79');">
                                                <i class="fa fa-heart-o"></i>
                                                <span>收藏</span>
                                            </button>
                                            <button type="button" class="compare" onclick="compare.add('79');">
                                                <i class="fa fa-bars"></i>
                                                <span>对比</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-layout product-grid col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="product-wrapper">
                                <div class="product-image">
                                    <a href="">
                                        <img src="__PUBLIC__/Home/image/cache/catalog/gd/product/yanjing7-300x340.jpg"
                                             alt="普利邦欧美大框眼镜女优雅精致太阳镜女士潮2016前卫墨镜女驾驶镜"
                                             title="普利邦欧美大框眼镜女优雅精致太阳镜女士潮2016前卫墨镜女驾驶镜" class="img-responsive"/>
                                    </a>
                                </div>
                                <div class="product-info">
                                    <div class="product-name">
                                        <a href="">普利邦欧美大框眼镜女优雅精致太阳镜女士潮2016前卫墨镜女驾驶镜</a>
                                    </div>
                                    <div class="product-description">
                                        <p>..</p>
                                    </div>
                                    <div class="product-rating">
                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                                    </div>
                                    <div class="product-price">
                                        <span class="price-new">￥5,337.00</span>
                                        <span class="price-old">￥8,896.00</span>
                                    </div>
                                    <div class="product-action">
                                        <button type="button" class="add-to-cart" onclick="cart.add('78');">
                                            <i class="fa fa-shopping-cart"></i>
                                            <span>加入购物车</span>
                                        </button>
                                        <div class="ps-add-buyincang" id="btn-visible">
                                            <button type="button" class="wishlist" onclick="wishlist.add('78');">
                                                <i class="fa fa-heart-o"></i>
                                                <span>收藏</span>
                                            </button>
                                            <button type="button" class="compare" onclick="compare.add('78');">
                                                <i class="fa fa-bars"></i>
                                                <span>对比</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-layout product-grid col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="product-wrapper">
                                <div class="product-image">
                                    <a href="">
                                        <img src="__PUBLIC__/Home/image/cache/catalog/gd/product/yanjing8-300x340.jpg"
                                             alt="普利邦欧美大框太阳镜女潮时尚百搭驾驶镜女偏光墨镜女气质简约潮" title="普利邦欧美大框太阳镜女潮时尚百搭驾驶镜女偏光墨镜女气质简约潮"
                                             class="img-responsive"/>
                                    </a>
                                </div>
                                <div class="product-info">
                                    <div class="product-name">
                                        <a href="">普利邦欧美大框太阳镜女潮时尚百搭驾驶镜女偏光墨镜女气质简约潮</a>
                                    </div>
                                    <div class="product-description">
                                        <p>..</p>
                                    </div>
                                    <div class="product-rating">
                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                                    </div>
                                    <div class="product-price">
                                        <span class="price-new">￥5,377.00</span>
                                        <span class="price-old">￥8,899.00</span>
                                    </div>
                                    <div class="product-action">
                                        <button type="button" class="add-to-cart" onclick="cart.add('77');">
                                            <i class="fa fa-shopping-cart"></i>
                                            <span>加入购物车</span>
                                        </button>
                                        <div class="ps-add-buyincang" id="btn-visible">
                                            <button type="button" class="wishlist" onclick="wishlist.add('77');">
                                                <i class="fa fa-heart-o"></i>
                                                <span>收藏</span>
                                            </button>
                                            <button type="button" class="compare" onclick="compare.add('77');">
                                                <i class="fa fa-bars"></i>
                                                <span>对比</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-layout product-grid col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="product-wrapper">
                                <div class="product-image">
                                    <a href="">
                                        <img src="__PUBLIC__/Home/image/cache/catalog/gd/product/yanjing9.1-300x340.jpg"
                                             alt="普利邦欧美个性太阳镜女款大框气质墨镜女潮驾驶镜防眩光司机镜" title="普利邦欧美个性太阳镜女款大框气质墨镜女潮驾驶镜防眩光司机镜"
                                             class="img-responsive"/>
                                    </a>
                                </div>
                                <div class="product-info">
                                    <div class="product-name">
                                        <a href="">普利邦欧美个性太阳镜女款大框气质墨镜女潮驾驶镜防眩光司机镜</a>
                                    </div>
                                    <div class="product-description">
                                        <p>..</p>
                                    </div>
                                    <div class="product-rating">
                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                                    </div>
                                    <div class="product-price">
                                        <span class="price-new">￥5,012.00</span>
                                        <span class="price-old">￥8,766.00</span>
                                    </div>
                                    <div class="product-action">
                                        <button type="button" class="add-to-cart" onclick="cart.add('76');">
                                            <i class="fa fa-shopping-cart"></i>
                                            <span>加入购物车</span>
                                        </button>
                                        <div class="ps-add-buyincang" id="btn-visible">
                                            <button type="button" class="wishlist" onclick="wishlist.add('76');">
                                                <i class="fa fa-heart-o"></i>
                                                <span>收藏</span>
                                            </button>
                                            <button type="button" class="compare" onclick="compare.add('76');">
                                                <i class="fa fa-bars"></i>
                                                <span>对比</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-layout product-grid col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="product-wrapper">
                                <div class="product-image">
                                    <a href="">
                                        <img src="__PUBLIC__/Home/image/cache/catalog/gd/product/yanjing10-300x340.jpg"
                                             alt="普利邦欧美大框时尚墨镜女气质百搭太阳镜女偏光驾驶镜女防眩眼镜" title="普利邦欧美大框时尚墨镜女气质百搭太阳镜女偏光驾驶镜女防眩眼镜"
                                             class="img-responsive"/>
                                    </a>
                                </div>
                                <div class="product-info">
                                    <div class="product-name">
                                        <a href="">普利邦欧美大框时尚墨镜女气质百搭太阳镜女偏光驾驶镜女防眩眼镜</a>
                                    </div>
                                    <div class="product-description">
                                        <p>..</p>
                                    </div>
                                    <div class="product-rating">
                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                                    </div>
                                    <div class="product-price">
                                        <span class="price-new">￥5,206.00</span>
                                        <span class="price-old">￥7,099.00</span>
                                    </div>
                                    <div class="product-action">
                                        <button type="button" class="add-to-cart" onclick="cart.add('75');">
                                            <i class="fa fa-shopping-cart"></i>
                                            <span>加入购物车</span>
                                        </button>
                                        <div class="ps-add-buyincang" id="btn-visible">
                                            <button type="button" class="wishlist" onclick="wishlist.add('75');">
                                                <i class="fa fa-heart-o"></i>
                                                <span>收藏</span>
                                            </button>
                                            <button type="button" class="compare" onclick="compare.add('75');">
                                                <i class="fa fa-bars"></i>
                                                <span>对比</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-layout product-grid col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="product-wrapper">
                                <div class="product-image">
                                    <a href="">
                                        <img src="__PUBLIC__/Home/image/cache/catalog/gd/product/yanjing11.1-300x340.jpg"
                                             alt="普利邦欧美大框眼镜女个性百搭太阳镜女气质优雅驾驶镜女偏光墨镜" title="普利邦欧美大框眼镜女个性百搭太阳镜女气质优雅驾驶镜女偏光墨镜"
                                             class="img-responsive"/>
                                    </a>
                                </div>
                                <div class="product-info">
                                    <div class="product-name">
                                        <a href="">普利邦欧美大框眼镜女个性百搭太阳镜女气质优雅驾驶镜女偏光墨镜</a>
                                    </div>
                                    <div class="product-description">
                                        <p>..</p>
                                    </div>
                                    <div class="product-rating">
                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                                    </div>
                                    <div class="product-price">
                                        <span class="price-new">￥6,899.00</span>
                                        <span class="price-old">￥8,436.00</span>
                                    </div>
                                    <div class="product-action">
                                        <button type="button" class="add-to-cart" onclick="cart.add('74');">
                                            <i class="fa fa-shopping-cart"></i>
                                            <span>加入购物车</span>
                                        </button>
                                        <div class="ps-add-buyincang" id="btn-visible">
                                            <button type="button" class="wishlist" onclick="wishlist.add('74');">
                                                <i class="fa fa-heart-o"></i>
                                                <span>收藏</span>
                                            </button>
                                            <button type="button" class="compare" onclick="compare.add('74');">
                                                <i class="fa fa-bars"></i>
                                                <span>对比</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-layout product-grid col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="product-wrapper">
                                <div class="product-image">
                                    <a href="">
                                        <img src="__PUBLIC__/Home/image/cache/catalog/gd/product/yanjing12.1-300x340.jpg"
                                             alt="普利邦 欧美圆框黑色炫酷太阳镜男款圆框防紫外线墨镜前卫驾驶镜" title="普利邦 欧美圆框黑色炫酷太阳镜男款圆框防紫外线墨镜前卫驾驶镜"
                                             class="img-responsive"/>
                                    </a>
                                </div>
                                <div class="product-info">
                                    <div class="product-name">
                                        <a href="">普利邦 欧美圆框黑色炫酷太阳镜男款圆框防紫外线墨镜前卫驾驶镜</a>
                                    </div>
                                    <div class="product-description">
                                        <p>..</p>
                                    </div>
                                    <div class="product-rating">
                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                                    </div>
                                    <div class="product-price">
                                        <span class="price-new">￥3,199.00</span>
                                        <span class="price-old">￥4,999.00</span>
                                    </div>
                                    <div class="product-action">
                                        <button type="button" class="add-to-cart" onclick="cart.add('73');">
                                            <i class="fa fa-shopping-cart"></i>
                                            <span>加入购物车</span>
                                        </button>
                                        <div class="ps-add-buyincang" id="btn-visible">
                                            <button type="button" class="wishlist" onclick="wishlist.add('73');">
                                                <i class="fa fa-heart-o"></i>
                                                <span>收藏</span>
                                            </button>
                                            <button type="button" class="compare" onclick="compare.add('73');">
                                                <i class="fa fa-bars"></i>
                                                <span>对比</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul id="banner1" class="banners">
                        <li class="item">
                            <a href="">
                                <img src="__PUBLIC__/Home/image/cache/catalog/gd/banner/hengfu2-1140x587.jpg" alt="233"
                                     class="img-responsive"/>
                            </a>
                        </li>
                    </ul>
                    <h2 class="widget-title">
                        <span>特价商品</span>
                    </h2>
                    <div class="row">
                        <div class="product-layout product-grid col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="product-wrapper">
                                <div class="product-image">
                                    <a href="">
                                        <img src="__PUBLIC__/Home/image/cache/catalog/gd/product/yanjing4-300x340.jpg"
                                             alt="2016时尚墨镜 女士偏光太阳镜潮人欧美复古圆框眼镜驾驶镜" title="2016时尚墨镜 女士偏光太阳镜潮人欧美复古圆框眼镜驾驶镜"
                                             class="img-responsive"/>
                                    </a>
                                </div>
                                <div class="product-info">
                                    <div class="product-name">
                                        <a href="">2016时尚墨镜 女士偏光太阳镜潮人欧美复古圆框眼镜驾驶镜</a>
                                    </div>
                                    <div class="product-description">
                                        <p>..</p>
                                    </div>
                                    <div class="product-rating">
                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                                    </div>
                                    <div class="product-price">
                                        <span class="price-new">￥7,770.00</span>
                                        <span class="price-old">￥8,867.00</span>
                                    </div>
                                    <div class="product-action">
                                        <button type="button" class="add-to-cart" onclick="cart.add('71');">
                                            <i class="fa fa-shopping-cart"></i>
                                            <span>加入购物车</span>
                                        </button>
                                        <div class="ps-add-buyincang" id="btn-visible">
                                            <button type="button" class="wishlist" onclick="wishlist.add('71');">
                                                <i class="fa fa-heart-o"></i>
                                                <span>收藏</span>
                                            </button>
                                            <button type="button" class="compare" onclick="compare.add('71');">
                                                <i class="fa fa-bars"></i>
                                                <span>对比</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-layout product-grid col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="product-wrapper">
                                <div class="product-image">
                                    <a href="">
                                        <img src="__PUBLIC__/Home/image/cache/catalog/gd/product/yanjing12.1-300x340.jpg"
                                             alt="普利邦 欧美圆框黑色炫酷太阳镜男款圆框防紫外线墨镜前卫驾驶镜" title="普利邦 欧美圆框黑色炫酷太阳镜男款圆框防紫外线墨镜前卫驾驶镜"
                                             class="img-responsive"/>
                                    </a>
                                </div>
                                <div class="product-info">
                                    <div class="product-name">
                                        <a href="">普利邦 欧美圆框黑色炫酷太阳镜男款圆框防紫外线墨镜前卫驾驶镜</a>
                                    </div>
                                    <div class="product-description">
                                        <p>..</p>
                                    </div>
                                    <div class="product-rating">
                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                                    </div>
                                    <div class="product-price">
                                        <span class="price-new">￥3,199.00</span>
                                        <span class="price-old">￥4,999.00</span>
                                    </div>
                                    <div class="product-action">
                                        <button type="button" class="add-to-cart" onclick="cart.add('73');">
                                            <i class="fa fa-shopping-cart"></i>
                                            <span>加入购物车</span>
                                        </button>
                                        <div class="ps-add-buyincang" id="btn-visible">
                                            <button type="button" class="wishlist" onclick="wishlist.add('73');">
                                                <i class="fa fa-heart-o"></i>
                                                <span>收藏</span>
                                            </button>
                                            <button type="button" class="compare" onclick="compare.add('73');">
                                                <i class="fa fa-bars"></i>
                                                <span>对比</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-layout product-grid col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="product-wrapper">
                                <div class="product-image">
                                    <a href="">
                                        <img src="__PUBLIC__/Home/image/cache/catalog/gd/product/yanjing5-300x340.jpg"
                                             alt="普利邦 欧美时尚大框优雅墨镜女款复古个性防强光太阳镜简约眼镜" title="普利邦 欧美时尚大框优雅墨镜女款复古个性防强光太阳镜简约眼镜"
                                             class="img-responsive"/>
                                    </a>
                                </div>
                                <div class="product-info">
                                    <div class="product-name">
                                        <a href="">普利邦 欧美时尚大框优雅墨镜女款复古个性防强光太阳镜简约眼镜</a>
                                    </div>
                                    <div class="product-description">
                                        <p>..</p>
                                    </div>
                                    <div class="product-rating">
                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                                    </div>
                                    <div class="product-price">
                                        <span class="price-new">￥2,999.00</span>
                                        <span class="price-old">￥3,799.00</span>
                                    </div>
                                    <div class="product-action">
                                        <button type="button" class="add-to-cart" onclick="cart.add('80');">
                                            <i class="fa fa-shopping-cart"></i>
                                            <span>加入购物车</span>
                                        </button>
                                        <div class="ps-add-buyincang" id="btn-visible">
                                            <button type="button" class="wishlist" onclick="wishlist.add('80');">
                                                <i class="fa fa-heart-o"></i>
                                                <span>收藏</span>
                                            </button>
                                            <button type="button" class="compare" onclick="compare.add('80');">
                                                <i class="fa fa-bars"></i>
                                                <span>对比</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product-layout product-grid col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="product-wrapper">
                                <div class="product-image">
                                    <a href="">
                                        <img src="__PUBLIC__/Home/image/cache/catalog/gd/product/yanjing9.1-300x340.jpg"
                                             alt="普利邦欧美个性太阳镜女款大框气质墨镜女潮驾驶镜防眩光司机镜" title="普利邦欧美个性太阳镜女款大框气质墨镜女潮驾驶镜防眩光司机镜"
                                             class="img-responsive"/>
                                    </a>
                                </div>
                                <div class="product-info">
                                    <div class="product-name">
                                        <a href="">普利邦欧美个性太阳镜女款大框气质墨镜女潮驾驶镜防眩光司机镜</a>
                                    </div>
                                    <div class="product-description">
                                        <p>..</p>
                                    </div>
                                    <div class="product-rating">
                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                                        <span class="fa fa-stack">
                          <i class="fa fa-star fa-stack-2x"></i>
                        </span>
                                    </div>
                                    <div class="product-price">
                                        <span class="price-new">￥5,012.00</span>
                                        <span class="price-old">￥8,766.00</span>
                                    </div>
                                    <div class="product-action">
                                        <button type="button" class="add-to-cart" onclick="cart.add('76');">
                                            <i class="fa fa-shopping-cart"></i>
                                            <span>加入购物车</span>
                                        </button>
                                        <div class="ps-add-buyincang" id="btn-visible">
                                            <button type="button" class="wishlist" onclick="wishlist.add('76');">
                                                <i class="fa fa-heart-o"></i>
                                                <span>收藏</span>
                                            </button>
                                            <button type="button" class="compare" onclick="compare.add('76');">
                                                <i class="fa fa-bars"></i>
                                                <span>对比</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</block>

