<Extend name="Layout/Back"/>

<block name="content">
    <div id="content">
        <div class="page-header">
            <div class="container-fluid">
                <div class="pull-right">
                    <button type="submit" form="form-goods_attribute" data-toggle="tooltip" title="保存"
                            class="btn btn-primary">
                        <i class="fa fa-save"></i>
                    </button>
                    <a href="{:U('lists')}" data-toggle="tooltip" title="取消" class="btn btn-default">
                        <i class="fa fa-reply"></i>
                    </a>
                </div>
                <h1>商品属性</h1>
                <ul class="breadcrumb">
                    <li>
                        <a href="{:U('Index/index')}">首页</a>
                    </li>
                    <li>
                        <a href="">商品属性</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container-fluid">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-pencil"></i>
                        添加商品属性
                    </h3>
                </div>
                <div class="panel-body">
                    <form action="{:U('add')}" method="post" enctype="multipart/form-data" id="form-goods_attribute"
                          class="form-horizontal">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#tab-general" data-toggle="tab">基本信息</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab-general">

                                <div class="form-group required">
                                    <label class="col-sm-2 control-label"
                                           for="input-goods_attribute_name">商品属性名称</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="goods_attribute_name"
                                               value="{$row['goods_attribute_name']}" placeholder="商品属性名称"
                                               id="input-goods_attribute_name" class="form-control"/>
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <label class="col-sm-2 control-label" for="input-goods_sort">排序</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="goods_sort" value="{$row['goods_sort']}"
                                               placeholder="排序"
                                               id="input-goods_sort" class="form-control"/>
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <label class="col-sm-2 control-label" >所属商品类型</label>
                                    <div class="col-sm-10">
                                        <select  name="goods_type_id" class="form-control">
                                            <option value="0">请选择</option>
                                            <volist name="goods_type" id="gt">
                                                <option value="{$gt['goods_type_id']}">{$gt['goods_type_name']}</option>
                                            </volist>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <label class="col-sm-2 control-label">属型类型</label>
                                    <div class="col-sm-10">
                                        <select  name="attribute_type_id" class="form-control">
                                            <option value="0">请选择</option>
                                            <volist name="attribute_type" id="at">
                                                <option value="{$at['attribute_type_id']}">{$at['attribute_type_name']}</option>
                                            </volist>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</block>

<block name="js">
    <script src="__PUBLIC__/Back/validate/jquery.validate.min.js"></script>
    <script src="__PUBLIC__/Back/validate/additional-methods.min.js"></script>
    <script src="__PUBLIC__/Back/validate/localization/messages_zh.min.js"></script>

    <script>
        $(function () {
            $('#form-goods_attribute').validate({
                // 规则
                rules: {
                    goods_attribute_name: {
                        required: true,
                        remote: {
                            'url': "{:U('ajax')}",
                            'data': {
                                'operate': 'checkgoods_attribute_name',
                                'goods_attribute_id': $('#input_goods_attribute_id').val()
                            }
                        }
                    },

                    event_sort: {
                        digits: true
                    }
                },
                // 错误信息
                messages: {

                    goods_attribute_name: {
                        required: '不能为空',
                        remote: '已经存在, 请重新填写'
                    },

                    event_sort: {
                        digits: '排序字段要求为整数'
                    }
                }
            });
        });

    </script>
</block>