<Extend name="Layout/Back"/>

<block name="content">
    <div id="content">
        <div class="page-header">
            <div class="container-fluid">
                <div class="pull-right">
                    <button type="submit" form="form-setting" data-toggle="tooltip" title="保存" class="btn btn-primary">
                        <i class="fa fa-save"></i>
                    </button>
                    <a href="{:U('lists')}" data-toggle="tooltip" title="取消" class="btn btn-default">
                        <i class="fa fa-reply"></i>
                    </a>
                </div>
                <h1>系统配置</h1>
                <ul class="breadcrumb">
                    <li>
                        <a href="{:U('Index/index')}">首页</a>
                    </li>
                    <li>
                        <a href="">系统配置</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container-fluid">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-pencil"></i>
                        编辑系统配置
                    </h3>
                </div>
                <div class="panel-body">
                    <form action="{:U('edit')}" method="post" enctype="multipart/form-data" id="form-setting"
                          class="form-horizontal">
                        <input type="hidden" name="setting_id" id="input_setting_id" value="{$row['setting_id']}">
                        <ul class="nav nav-tabs">
                            <volist name="setting_group" id="g">
                                <if condition="$i eq 1">
                                    <li class="active">
                                        <else/>
                                    <li class="">
                                </if>
                                <a href="#tab-{$g['setting_group_id']}" data-toggle="tab">{$g['setting_group_name']}</a>
                                </li>
                            </volist>
                        </ul>

                        <div class="tab-content">

                            <volist name="setting" id="set">
                                <if condition="$set['setting_group_id'] eq 1">
                                    <div class="tab-pane active" id="tab-{$set['setting_group_id']}">
                                        <div class="form-group required">
                                            <label class="col-sm-2 control-label" for="input-{$set['setting_key']}">{$set['setting_name']}</label>
                                            <div class="col-sm-10">
                                                <input type="text" name="setting[{$set['setting_group_id']}]"
                                                       value="{$set['setting_value']}"
                                                       placeholder="商城名称"
                                                       id="input-{$set['setting_key']}" class="form-control"/>
                                            </div>
                                        </div>
                                        <elseif condition="" >
                                </if>


                                <!--<div class="form-group">-->
                                <!--<label class="col-sm-2 control-label">图片</label>-->
                                <!--<div class="col-sm-10">-->
                                <!--<input id="input-logo_ori" type="file" name="logo_ori" class="">-->
                                <!--</div>-->
                                <!--</div>-->

                                <!--</div>-->
                            </volist>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</block>

<block name="js">
    <script src="__PUBLIC__/Back/validate/jquery.validate.min.js"></script>
    <script src="__PUBLIC__/Back/validate/additional-methods.min.js"></script>
    <script src="__PUBLIC__/Back/validate/localization/messages_zh.min.js"></script>

    <script>
        $(function () {
            $('#form-setting').validate({
                // 规则
                rules: {
                    setting_key: {
                        required: true,
                        remote: {
                            'url': "{:U('ajax')}",
                            'data': {
                                'operate': 'checksetting_key',
                                'setting_id': $('#input_setting_id').val()
                            }
                        }
                    },
                    setting_name: {
                        required: true,
                        remote: {
                            'url': "{:U('ajax')}",
                            'data': {
                                'operate': 'checksetting_name',
                                'setting_id': $('#input_setting_id').val()
                            }
                        }
                    },
                    setting_value: {
                        required: true,
                        remote: {
                            'url': "{:U('ajax')}",
                            'data': {
                                'operate': 'checksetting_value',
                                'setting_id': $('#input_setting_id').val()
                            }
                        }
                    },

                    event_sort: {
                        digits: true
                    }
                },
                // 错误信息
                messages: {

                    setting_key: {
                        required: '不能为空',
                        remote: '已经存在, 请重新填写'
                    },
                    setting_name: {
                        required: '不能为空',
                        remote: '已经存在, 请重新填写'
                    },
                    setting_value: {
                        required: '不能为空',
                        remote: '已经存在, 请重新填写'
                    },

                    event_sort: {
                        digits: '排序字段要求为整数'
                    }
                }
            });
        });

    </script>
</block>