<Extend name="Layout/Back"/>

<block name="content">
    <div id="content">
        <div class="page-header">
            <div class="container-fluid">
                <div class="pull-right">
                    <button type="submit" form="form-goods" data-toggle="tooltip" title="保存" class="btn btn-primary">
                        <i class="fa fa-save"></i>
                    </button>
                    <a href="{:U('lists')}" data-toggle="tooltip" title="取消" class="btn btn-default">
                        <i class="fa fa-reply"></i>
                    </a>
                </div>
                <h1>商品</h1>
                <ul class="breadcrumb">
                    <li>
                        <a href="{:U('Index/index')}">首页</a>
                    </li>
                    <li>
                        <a href="">商品</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container-fluid">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-pencil"></i>
                        添加商品
                    </h3>
                </div>
                <div class="panel-body">
                    <form action="{:U('add')}" method="post" enctype="multipart/form-data" id="form-goods"
                          class="form-horizontal">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#tab-general" data-toggle="tab">基本信息</a>
                            </li>
                            <li class="">
                                <a href="#tab-description" data-toggle="tab">商品描述</a>
                            </li>
                            <li class="">
                                <a href="#tab-seo" data-toggle="tab">SEO信息</a>
                            </li>
                            <li class="">
                                <a href="#tab-linked" data-toggle="tab">关联项目</a>
                            </li>
                            <li class="">
                                <a href="#tab-property" data-toggle="tab">商品属性</a>
                            </li>
                            <li class="">
                                <a href="#tab-promote" data-toggle="tab">促销活动</a>
                            </li>
                            <li class="">
                                <a href="#tab-price" data-toggle="tab">优惠价格</a>
                            </li>
                            <li class="">
                                <a href="#tab-image" data-toggle="tab">图片设置</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab-general">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-name">商品名称</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="name" value="" placeholder="商品名称" id="input-name" class="form-control" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-image">商品图片</label>
                                    <div class="col-sm-10">
                                        <input type="file" id="input-image" name="image" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-SKU">SKU</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="SKU" value="" placeholder="SKU" id="input-SKU" class="form-control" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-UPC">UPC</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="UPC" value="" placeholder="UPC" id="input-UPC" class="form-control" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-price">售价</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="price" value="" placeholder="price" id="input-price" class="form-control" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-quantity">库存</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="quantity" value="" placeholder="库存" id="input-quantity" class="form-control" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-minimum">最小起订数量</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="minimum" value="1" placeholder="最少起订数量" id="input-minimum" class="form-control" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-subtract">是否扣减库存</label>
                                    <div class="col-sm-10">
                                        <select name="subtract" id="input-subtract" class="form-control">
                                            <option value="1" selected="selected">是</option>
                                            <option value="0">否</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label" >是否可配送</label>
                                    <div class="col-sm-10">
                                        <label class="radio-inline">
                                            <input name="is_shipping"  value="1" checked="checked" type="radio">是</label>
                                        <label class="radio-inline">
                                            <input name="is_shipping" value="0" type="radio">否</label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-date_available">供货日期</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="date_available" value="" placeholder="date_available" id="input-date_available" class="form-control" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-length">尺寸(L x W x H)</label>
                                    <div class="col-sm-10">
                                        <div class="row">
                                            <div class="col-sm-4">
                                                <input name="length" value="" placeholder="长" id="input-length" class="form-control" type="text"></div>
                                            <div class="col-sm-4">
                                                <input name="width" value="" placeholder="宽" id="input-width" class="form-control" type="text"></div>
                                            <div class="col-sm-4">
                                                <input name="height" value="" placeholder="高" id="input-height" class="form-control" type="text"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-length_unit_id">长度单位</label>
                                    <div class="col-sm-10">
                                        <select name="length_unit_id" id="input-length_unit_id" class="form-control">
                                            <volist name="length_unit_list" id="length_unit">
                                                <option value="{$length_unit['length_unit_id']}">{$length_unit['title']}</option>
                                            </volist>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-weight">重量</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="weight" value="" placeholder="重量" id="input-weight" class="form-control" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-weight_unit_id">重量单位</label>
                                    <div class="col-sm-10">
                                        <select name="weight_unit_id" id="input-weight_unit_id" class="form-control">
                                            <volist name="weight_unit_list" id="weight_unit">
                                                <option value="{$weight_unit['weight_unit_id']}">{$weight_unit['title']}</option>
                                            </volist>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-status">状态</label>
                                    <div class="col-sm-10">
                                        <select name="status" id="input-status" class="form-control">
                                            <option value="1" selected="selected">启用</option>
                                            <option value="0">停用</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-sort_number">排序</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="sort_number" value="0" placeholder="排序" id="input-sort_number" class="form-control" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-tax_id">税类型</label>
                                    <div class="col-sm-10">
                                        <select name="tax_id" id="input-tax_id" class="form-control">
                                            <volist name="tax_list" id="tax">
                                                <option value="{$tax['tax_id']}">{$tax['title']}</option>
                                            </volist>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-stock_status_id">库存状态</label>
                                    <div class="col-sm-10">
                                        <select name="stock_status_id" id="input-stock_status_id" class="form-control">
                                            <volist name="stock_status_list" id="stock_status">
                                                <option value="{$stock_status['stock_status_id']}">{$stock_status['title']}</option>
                                            </volist>
                                        </select>
                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane" id="tab-description">

                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-description">商品描述</label>
                                    <div class="col-sm-10">
                                        <textarea name="description" id="input-description" class="form-control"></textarea>
                                    </div>
                                </div>

                            </div>

                            <div class="tab-pane" id="tab-seo">

                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-meta_title">Meta Tag 标题</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="meta_title" value="" placeholder="Meta Tag 标题" id="input-meta_title" class="form-control" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-meta_keywords">Meta Tag 关键字</label>
                                    <div class="col-sm-10">
                                        <textarea name="meta_keywords" placeholder="Meta Tag 关键字" id="input-meta_keywords" class="form-control" rows="4"></textarea>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-meta_description">Meta Tag 描述</label>
                                    <div class="col-sm-10">
                                        <textarea name="meta_description" placeholder="Meta Tag 描述" id="input-meta_description" class="form-control" rows="4"></textarea>
                                    </div>
                                </div>

                            </div>

                            <div class="tab-pane" id="tab-linked">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-brand_id">品牌</label>
                                    <div class="col-sm-10">
                                        <select name="brand_id" id="input-brand_id" class="form-control">
                                            <volist name="brand_list" id="brand">
                                                <option value="{$brand['brand_id']}">{$brand['title']}</option>
                                            </volist>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-category_id">分类</label>
                                    <div class="col-sm-10">
                                        <select name="category_id" id="input-category_id" class="form-control">
                                            <volist name="category_list" id="category">
                                                <option value="{$category['category_id']}">{:str_repeat('-', $category['deep']*2)}{$category['title']}</option>
                                            </volist>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane" id="tab-property">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="input-manufacturer"></label>
                                    <div class="col-sm-1  text-center">选项</div>
                                    <div class="col-sm-9"></div>
                                </div>
                                <div class="form-group">
                                    <label for="input-type-id" class="col-sm-2 control-label">
                                        <span title="" data-toggle="tooltip" data-original-title="不同类型对应不同的属性列表">商品类型</span>
                                    </label>
                                    <div class="col-sm-1"></div>
                                    <div class="col-sm-9">
                                        <select class="form-control" id="input-goods_type_id" name="goods_type_id">
                                            <option value="0">--未选择--</option>
                                            <volist name="goods_type_list" id="goods_type">
                                                <option value="{$goods_type['goods_type_id']}">{$goods_type['title']}</option>
                                            </volist>
                                        </select>
                                    </div>
                                </div>


                            </div>

                            <div class="tab-pane" id="tab-promote"></div>
                            <div class="tab-pane" id="tab-price"></div>

                            <div class="tab-pane" id="tab-image">
                                <div class="table-responsive">
                                    <table id="images" class="table table-striped table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <td class="text-left">图片</td>
                                            <td class="text-right">排序</td>
                                            <td></td>
                                        </tr>
                                        </thead>
                                        <tbody></tbody>
                                        <tfoot>
                                        <tr>
                                            <td colspan="2"></td>
                                            <td class="text-left">
                                                <button type="button" onclick="addImage();" data-toggle="tooltip" title="" class="btn btn-primary" data-original-title="添加图片">
                                                    <i class="fa fa-plus-circle"></i>
                                                </button>
                                            </td>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>

                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</block>

<block name="js">
    <script src="__PUBLIC__/Back/validate/jquery.validate.min.js"></script>
    <script src="__PUBLIC__/Back/validate/additional-methods.min.js"></script>
    <script src="__PUBLIC__/Back/validate/localization/messages_zh.min.js"></script>

    <script>
        $(function () {
            $('#form-goods').validate({
                // 规则
                rules: {
                    goods_name: {
                        required: true,
                        remote: {
                            'url': "{:U('ajax')}",
                            'data': {
                                'operate': 'checkgoods_name',
                                '___PK_': $('#input____PK_').val()
                            }
                        }
                    },
                    goods_image: {
                        required: true,
                        remote: {
                            'url': "{:U('ajax')}",
                            'data': {
                                'operate': 'checkgoods_image',
                                '___PK_': $('#input____PK_').val()
                            }
                        }
                    },
                    goods_image_thumb: {
                        required: true,
                        remote: {
                            'url': "{:U('ajax')}",
                            'data': {
                                'operate': 'checkgoods_image_thumb',
                                '___PK_': $('#input____PK_').val()
                            }
                        }
                    },
                    goods_SKU: {
                        required: true,
                        remote: {
                            'url': "{:U('ajax')}",
                            'data': {
                                'operate': 'checkgoods_SKU',
                                '___PK_': $('#input____PK_').val()
                            }
                        }
                    },
                    goods_UPC: {
                        required: true,
                        remote: {
                            'url': "{:U('ajax')}",
                            'data': {
                                'operate': 'checkgoods_UPC',
                                '___PK_': $('#input____PK_').val()
                            }
                        }
                    },
                    goods_description: {
                        required: true,
                        remote: {
                            'url': "{:U('ajax')}",
                            'data': {
                                'operate': 'checkgoods_description',
                                '___PK_': $('#input____PK_').val()
                            }
                        }
                    },
                    goods_meta_name: {
                        required: true,
                        remote: {
                            'url': "{:U('ajax')}",
                            'data': {
                                'operate': 'checkgoods_meta_name',
                                '___PK_': $('#input____PK_').val()
                            }
                        }
                    },
                    goods_meta_keywords: {
                        required: true,
                        remote: {
                            'url': "{:U('ajax')}",
                            'data': {
                                'operate': 'checkgoods_meta_keywords',
                                '___PK_': $('#input____PK_').val()
                            }
                        }
                    },
                    goods_meta_description: {
                        required: true,
                        remote: {
                            'url': "{:U('ajax')}",
                            'data': {
                                'operate': 'checkgoods_meta_description',
                                '___PK_': $('#input____PK_').val()
                            }
                        }
                    },

                    event_sort: {
                        digits: true
                    }
                },
                // 错误信息
                messages: {

                    goods_name: {
                        required: '不能为空',
                        remote: '已经存在, 请重新填写'
                    },
                    goods_image: {
                        required: '不能为空',
                        remote: '已经存在, 请重新填写'
                    },
                    goods_image_thumb: {
                        required: '不能为空',
                        remote: '已经存在, 请重新填写'
                    },
                    goods_SKU: {
                        required: '不能为空',
                        remote: '已经存在, 请重新填写'
                    },
                    goods_UPC: {
                        required: '不能为空',
                        remote: '已经存在, 请重新填写'
                    },
                    goods_description: {
                        required: '不能为空',
                        remote: '已经存在, 请重新填写'
                    },
                    goods_meta_name: {
                        required: '不能为空',
                        remote: '已经存在, 请重新填写'
                    },
                    goods_meta_keywords: {
                        required: '不能为空',
                        remote: '已经存在, 请重新填写'
                    },
                    goods_meta_description: {
                        required: '不能为空',
                        remote: '已经存在, 请重新填写'
                    },

                    event_sort: {
                        digits: '排序字段要求为整数'
                    }
                }
            });
        });

    </script>
</block>