<extend name="Layout/Back"/>

<block name="content">

    <div id="content">
        <div class="page-header">
            <div class="container-fluid">
                <div class="pull-right">
                    <a href="{:U('add')}" data-toggle="tooltip" title="新增" class="btn btn-primary"> <i
                            class="fa fa-plus"></i>
                    </a>

                    <button type="button" data-toggle="tooltip" title="删除" class="btn btn-danger"
                            onclick="confirm('确认？') ? $('#form-brand').submit() : false;"><i class="fa fa-trash-o"></i>
                    </button>

                </div>
                <h1>商品管理</h1>
                <ul class="breadcrumb">
                    <li>
                        <a href="{:U('Index/index')}">首页</a>
                    </li>
                    <li>
                        <a href="javascript:;">商品列表</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container-fluid">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-list"></i>
                        商品列表
                    </h3>
                </div>
                <div class="panel-body">
                    <form action="{:U('lists')}" method="GET">
                        <div class="well">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="control-label" for="input-title">搜索关键字</label>
                                        <input type="text" name="filter_goods_name"
                                               value="{$filter['filter_goods_name']}" placeholder="搜索内容"
                                               id="input-title" class="form-control"/>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <button type="submit" id="button-filter" class="btn btn-primary pull-right">
                                        <i class="fa fa-search"></i>
                                        筛选
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>

                    <form action="{:U('multi')}" method="post" enctype="multipart/form-data" id="form-brand">
                        <input type="hidden" id="input-operate_type" name="operate_type" value="">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <td style="width: 1px;" class="text-center">
                                        <input type="checkbox"
                                               onclick="$('input[name*=\'selected\']').prop('checked', this.checked);"/>
                                    </td>
                                    <td class="text-center">序号</td>
                                    <td class="text-center">
                                        <if condition="$order['field'] eq 'goods_name' AND $order['type'] eq 'asc'">
                                            <a href="{:U('lists', $filter+['field'=>'goods_name', 'type'=>'desc'])}"
                                               class="asc">商品名称</a>
                                            <elseif condition="$order['field'] eq 'goods_name' AND $order['type'] eq 'desc'"/>
                                            <a href="{:U('lists', $filter+['field'=>'goods_name', 'type'=>'asc'])}"
                                               class="desc">商品名称</a>
                                            <else/>
                                            <a href="{:U('lists', $filter+['field'=>'goods_name', 'type'=>'asc'])}"
                                               class="">商品名称</a>
                                        </if>
                                    </td>
                                    <td class="text-center">
                                        <if condition="$order['field'] eq 'goods_image_thumb' AND $order['type'] eq 'asc'">
                                            <a href="{:U('lists', $filter+['field'=>'goods_image_thumb', 'type'=>'desc'])}"
                                               class="asc">商品小图</a>
                                            <elseif condition="$order['field'] eq 'goods_image_thumb' AND $order['type'] eq 'desc'"/>
                                            <a href="{:U('lists', $filter+['field'=>'goods_image_thumb', 'type'=>'asc'])}"
                                               class="desc">商品小图</a>
                                            <else/>
                                            <a href="{:U('lists', $filter+['field'=>'goods_image_thumb', 'type'=>'asc'])}"
                                               class="">商品小图</a>
                                        </if>
                                    </td>
                                    <td class="text-center">
                                        <if condition="$order['field'] eq 'goods_UPC' AND $order['type'] eq 'asc'">
                                            <a href="{:U('lists', $filter+['field'=>'goods_UPC', 'type'=>'desc'])}"
                                               class="asc">商品代码</a>
                                            <elseif condition="$order['field'] eq 'goods_UPC' AND $order['type'] eq 'desc'"/>
                                            <a href="{:U('lists', $filter+['field'=>'goods_UPC', 'type'=>'asc'])}"
                                               class="desc">商品代码</a>
                                            <else/>
                                            <a href="{:U('lists', $filter+['field'=>'goods_UPC', 'type'=>'asc'])}"
                                               class="">商品代码</a>
                                        </if>
                                    </td>
                                    <td class="text-center">
                                        <if condition="$order['field'] eq 'goods_price' AND $order['type'] eq 'asc'">
                                            <a href="{:U('lists', $filter+['field'=>'goods_price', 'type'=>'desc'])}"
                                               class="asc">商品价格</a>
                                            <elseif condition="$order['field'] eq 'goods_price' AND $order['type'] eq 'desc'"/>
                                            <a href="{:U('lists', $filter+['field'=>'goods_price', 'type'=>'asc'])}"
                                               class="desc">商品价格</a>
                                            <else/>
                                            <a href="{:U('lists', $filter+['field'=>'goods_price', 'type'=>'asc'])}"
                                               class="">商品价格</a>
                                        </if>
                                    </td>
                                    <td class="text-center">
                                        <if condition="$order['field'] eq 'goods_date_available' AND $order['type'] eq 'asc'">
                                            <a href="{:U('lists', $filter+['field'=>'goods_date_available', 'type'=>'desc'])}"
                                               class="asc">供货日期</a>
                                            <elseif condition="$order['field'] eq 'goods_date_available' AND $order['type'] eq 'desc'"/>
                                            <a href="{:U('lists', $filter+['field'=>'goods_date_available', 'type'=>'asc'])}"
                                               class="desc">供货日期</a>
                                            <else/>
                                            <a href="{:U('lists', $filter+['field'=>'goods_date_available', 'type'=>'asc'])}"
                                               class="">供货日期</a>
                                        </if>
                                    </td>
                                    <td class="text-center">
                                        <if condition="$order['field'] eq 'goods_status' AND $order['type'] eq 'asc'">
                                            <a href="{:U('lists', $filter+['field'=>'goods_status', 'type'=>'desc'])}"
                                               class="asc">是否启用</a>
                                            <elseif condition="$order['field'] eq 'goods_status' AND $order['type'] eq 'desc'"/>
                                            <a href="{:U('lists', $filter+['field'=>'goods_status', 'type'=>'asc'])}"
                                               class="desc">是否启用</a>
                                            <else/>
                                            <a href="{:U('lists', $filter+['field'=>'goods_status', 'type'=>'asc'])}"
                                               class="">是否启用</a>
                                        </if>
                                    </td>
                                    <td class="text-center">
                                        <if condition="$order['field'] eq 'goods_is_deleted' AND $order['type'] eq 'asc'">
                                            <a href="{:U('lists', $filter+['field'=>'goods_is_deleted', 'type'=>'desc'])}"
                                               class="asc">是否已删除</a>
                                            <elseif condition="$order['field'] eq 'goods_is_deleted' AND $order['type'] eq 'desc'"/>
                                            <a href="{:U('lists', $filter+['field'=>'goods_is_deleted', 'type'=>'asc'])}"
                                               class="desc">是否已删除</a>
                                            <else/>
                                            <a href="{:U('lists', $filter+['field'=>'goods_is_deleted', 'type'=>'asc'])}"
                                               class="">是否已删除</a>
                                        </if>
                                    </td>
                                    <td class="text-center">
                                        <if condition="$order['field'] eq 'stock_status_id' AND $order['type'] eq 'asc'">
                                            <a href="{:U('lists', $filter+['field'=>'stock_status_id', 'type'=>'desc'])}"
                                               class="asc">库存状态</a>
                                            <elseif condition="$order['field'] eq 'stock_status_id' AND $order['type'] eq 'desc'"/>
                                            <a href="{:U('lists', $filter+['field'=>'stock_status_id', 'type'=>'asc'])}"
                                               class="desc">库存状态</a>
                                            <else/>
                                            <a href="{:U('lists', $filter+['field'=>'stock_status_id', 'type'=>'asc'])}"
                                               class="">库存状态</a>
                                        </if>
                                    </td>
                                    <td class="text-center">
                                        <if condition="$order['field'] eq 'brand_id' AND $order['type'] eq 'asc'">
                                            <a href="{:U('lists', $filter+['field'=>'brand_id', 'type'=>'desc'])}"
                                               class="asc">所属品牌</a>
                                            <elseif condition="$order['field'] eq 'brand_id' AND $order['type'] eq 'desc'"/>
                                            <a href="{:U('lists', $filter+['field'=>'brand_id', 'type'=>'asc'])}"
                                               class="desc">所属品牌</a>
                                            <else/>
                                            <a href="{:U('lists', $filter+['field'=>'brand_id', 'type'=>'asc'])}"
                                               class="">所属品牌</a>
                                        </if>
                                    </td>
                                    <td class="text-center">
                                        <if condition="$order['field'] eq 'category_id' AND $order['type'] eq 'asc'">
                                            <a href="{:U('lists', $filter+['field'=>'category_id', 'type'=>'desc'])}"
                                               class="asc">所属分类</a>
                                            <elseif condition="$order['field'] eq 'category_id' AND $order['type'] eq 'desc'"/>
                                            <a href="{:U('lists', $filter+['field'=>'category_id', 'type'=>'asc'])}"
                                               class="desc">所属分类</a>
                                            <else/>
                                            <a href="{:U('lists', $filter+['field'=>'category_id', 'type'=>'asc'])}"
                                               class="">所属分类</a>
                                        </if>
                                    </td>
                                    <td class="text-right">管理</td>
                                </tr>
                                </thead>
                                <tbody>
                                <volist name="rows" id="row">
                                    <tr>
                                        <td class="text-center">
                                            <input type="checkbox" name="selected[]" value="{$row['goods_id']}"/>
                                        </td>
                                        <td class="text-center">{$i}</td>

                                        <td class="text-center">{$row['goods_name']}</td>
                                        <td class="text-center">{$row['goods_image_thumb']}</td>
                                        <td class="text-center">{$row['goods_UPC']}</td>
                                        <td class="text-center">{$row['goods_price']}</td>
                                        <td class="text-center">{$row['goods_date_available']}</td>
                                        <td class="text-center">{$row['goods_status']}</td>
                                        <td class="text-center">{$row['goods_is_deleted']}</td>
                                        <td class="text-center">{$row['stock_status_id']}</td>

                                        <td class="text-center">{$row['brand_id']}</td>
                                        <td class="text-center">{$row['category_id']}</td>
                                        <td class="text-right">
                                            <a href="{:U('edit', ['goods_id'=>
                                                    $row['goods_id']])}" data-toggle="tooltip" title="编辑"
                                               class="btn btn-primary">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                            <a href="{:U('GoodsProduct/lists', ['goods_id'=>
                                                    $row['goods_id']])}" data-toggle="tooltip" title="货品管理" class="btn btn-primary">
                                                货
                                            </a>
                                        </td>
                                    </tr>
                                </volist>
                                </tbody>
                            </table>
                        </div>
                    </form>
                    <div class="row">{$page_html}</div>
                </div>
            </div>
        </div>
    </div>
</block>